<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurazione</title>
</head>
<body>
    <h1>Configurazione</h1>
    <form method="post" action="/config">
        <label for="wlan0_dev">wlan0 dev:</label>
        <input type="text" name="wlan0_dev" required><br>
        <label for="wlan1_dev">wlan1 dev:</label>
        <input type="text" name="wlan1_dev" required><br>
        <label for="bridge">bridge (br0):</label>
        <input type="text" name="bridge" required><br>
        <label for="bridge_ip">bridge ip (br0):</label>
        <input type="text" name="bridge_ip" required><br>
        <label for="gateway">gateway :</label>
        <input type="text" name="gateway" required><br>
        <button type="submit">Aggiorna Configurazione</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
