<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WiFi Configuration</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    </head>
<body>
    <div class="container-fluid">
        <div class="row">   
            <!-- Include the navigation -->
                {% include 'navbar.html' %}
         <!--<div class="col-md-12"  style="background-color:yellow;" align="center" ><h2>EMOTIONS</h2></div>--> 
      
        </div>
    </div>
    
     
        <h1>WiFi Configuration</h1>
   
    <div class="container">
        <section id="wifi-list">
            <h2>Available WiFi Networks</h2>
            <ul>
                {% for wifi in wifi_list %}
                    <li>{{ wifi }}</li>
                {% endfor %}
            </ul>
        </section>

        <section id="configure-wifi">
            <h2>Configure WiFi</h2>
            <form method="post" action="{{ url_for('configure_wifi') }}">
                <label for="selected_wifi">Select WiFi Network:</label>
                <select name="selected_wifi" required>
                    {% for wifi in wifi_list %}
                        <option value="{{ wifi }}">{{ wifi }}</option>
                    {% endfor %}
                </select><br>

                <label for="password">Password:</label>
                <input type="password" name="password" required><br>

                <button type="submit">Connect to WiFi</button>
            </form>
        </section>
    </div>
       <!-- Bootstrap JS and jQuery -->
       <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
       <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
   
</body>
</html>
